*{
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
}
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.page-header{
	width: 100%;
	height: 80px;
	background-color: #191f22;
	position: relative;
}
.page-logo{
	display: inline-block;
	width: 100px;
	height: 85px;
	vertical-align: top;
	float: left;
	margin-left: 30px;
}
.page-text{
	font-size: 30px;
	color: #fff;
	text-align: center;
	padding-top: 28px;
}
.pahe-user{
	position: absolute;
	top:8px;
	right: 13px;
	vertical-align: top;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	padding-top: 25px;
}
.pahe-user-tuichu{
	text-decoration:underline;
}
.page-body{
	display: flex;
	flex: 1;
}
.page-aside{
	width: 250px;
	background-color: #eff0f1;
}
.page-nav-li{
	border-bottom: 1px solid #999;
}
.page-nav-item{
	display: inline-block;
	height: 70px;
	font-weight: 600;
	line-height: 50px;
	font-size: 20px;
	color: #333;
	padding-left: 20px;
	padding-top:20px;
}
.page-content{
	flex:1;
	margin-left: 20px;
	background-color: #eff0f1;
}
.content-management{
	height: 80px;
	padding:10px;
	
}


.content-title{
	float: left;
	font-size: 20px;
	color: #333;
	font-weight: 600;
	margin-left: 30px;
	margin-top: 10px;
}
.content-control{
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}
.content-control a{
	font-size: 20px;
	color: #333;
	font-weight: 600;
}
.form-section{
	margin-left: 30px;
}
.form-item{
	/*display: inline-block;*/
	/*margin:0 auto;*/
}
.form-input{
	width: 300px;
	height: 50px;
	background-color: #fff;
	margin-bottom: 30px;
	padding-left: 20px;
}
.form-inputs{
	width: 300px;
	height: 50px;
	background-color: #2a4b6d;
	color: #fff;
	margin-bottom: 20px;
}
.form-button{
	width: 200px;
	height: 30px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border:none;
	outline: none;
	cursor: pointer;

}











.page-footer{
	margin-top: 20px;
	background-color: #191f22;
	height: 60px;
	color: #eff0f1;
	text-align: center;
	font-size: 18px;
	padding-top: 21px;
}